@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&family=Open+Sans:wght@300;400;600;700&family=PT+Sans:wght@400;700&family=Quicksand:wght@300;400;500;700&family=Roboto:wght@400;500&display=swap');



body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #585858;
}


*,
*:before,
*:after {
    box-sizing: border-box;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.img {
    display: block;
    max-width: 100%;
    height: auto;
}

.container {
    padding: 0 15px;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}


.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* header */


.header {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    right: 0;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header--dark {
    background-color: rgba(0, 0, 0, 0.8);
}

.flex {
    display: flex;
}


.header__inner {
  height: 85px;
  justify-content: space-between;
  align-items: center;
}

/* NAV */

.nav {
    display: flex;
    height: 100%;
}

.nav__link {
    display: flex;
    align-items: center;
    padding: 0 15px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  color: #FFFFFF;
  text-decoration: none;
}

.nav__link.active {
    background-color: #004AF2;
}

.nav__link:hover {
    background-color: #004AF2;;
}


/* intro */


.intro {
    margin-bottom: 30px;
    background: url(../img/intro/bg.png) no-repeat;
    background-size: cover;
    background-position: center;
}

.intro--text {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


.intro__blog {
    height: 350px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.intro__inner {
    height: 600px;
    align-items: flex-end;
    justify-content: space-between;
}

.intro__text {
    text-align: right;
    position: relative;
}

.intro__subtitle {
 
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  text-align: right;
  color: #FFFFFF;
}

.intro__title {
  margin-bottom: 45px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 700;
  font-size: 110px;
  line-height: 100px;
  text-align: right;
  color: rgba(255, 255, 255, 0.8);
}

.intro__amp {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 170px;
    line-height: 100px;
    text-align: right;
    color: rgba(255, 255, 255, 0.2);
}


/* requstFORM */

.request__form {
    max-width: 400px;
    width: 100%;
    background-color: #004AF2;
    border-radius: 5px;
}



.request__form__header {
    padding: 20px 30px;
    background-color: #033FC9;
    border-radius: 5px 5px 0px 0px;
}

.request__form__content {
padding: 30px;
}


.request__form__title {
    margin-bottom: 8px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;
  color: #FFFFFF;
}

.request__form__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #FFFFFF;
}

.request__form--intro {
    position: relative;
    bottom: -30px;
}

/* form */

.form__group {
    margin-bottom: 25px;

}

.input {
  display: block;
  padding-bottom: 12px;
  width: 100%;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
  background: none;
  border: none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  transition: border-color .2s linear;
}

.input::placeholder {
    color: #FFFFFF;
}

.input:focus {
    outline: none;
    border-bottom-color: #fff;
}

.input--user {
    padding-left: 45px;
    background: url(../img/form/1.svg) no-repeat;
    background-position: left 15px top 3px;
}

.input--phone {
    padding-left: 45px;
    background: url(../img/form/2.svg) no-repeat;
    background-position: left 15px top 3px;
}

.input--email {
    padding-left: 45px;
    background: url(../img/form/3.svg) no-repeat;
    background-position: left 15px top 3px;
}


.input__dark {
    border-bottom-color: #e8e8e8;
}

.request__btn {
    padding: 11px 120px;
    margin-top: 15px;
}

.btn { 
    display: inline-block;
    vertical-align: middle;
    background: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
    border-radius: 5px;
    border: none;
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    color: #FFFFFF;
    text-decoration: none;

}

.shadow__btn {
    background: linear-gradient(90deg, #FF903E 0%, #FF2C2C 100%);
box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.2);
border-radius: 5px;
}



/* section */

.section {
    padding: 60px 0;
}


.section__title {
  margin-bottom: 40px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 45px;
  line-height: 54px;
  color: #2C2C2C;
}

.section--map {
    background: url(../img/clients/map.png) no-repeat left 135px top 150px;
}


.section--gray {
    background-color: #e5e5e5;
}

.section--last {
    margin-bottom: 60px;
}

.blue__title {
    color: #004AF2;
}


/* services */

.services {
    margin-bottom: 30px;
   padding: 25px 0;
   padding-bottom: 80px;
   position: relative;
   flex-wrap: wrap;
   background-color: #fff;
   border-radius: 5px;
   box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
}

.services__item {
    display: flex;
    flex-direction: column;
    width: 25%;
    padding: 0 25px;
}




.services__title {
    margin-bottom: 20px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
  color: #2C2C2C;
}




.services__text {
    margin-bottom: 20px;
  width: 240px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #585858;
}


.services__link {
   display: inline-block;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 21px;
  color: #004AF2;
  text-decoration: none;
  transition: color .2s linear;
}


.services__link:after {
    margin-top: 10px;
    content: "";
    display: block;
    width: 10px;
    height: 2px;
    background-color: #004AF2;
    transition: width .2s linear; 

}


.services__link:hover {
    color: #FF3E2F;
}

.services__link:hover:after {
    width: 100%;
    background-color: #FF3E2F;
}


.services__footer {
    margin-top: auto;
}

.services__main__title {
  position: absolute;
  bottom: 12px;
  right: 30px;
  z-index: 1;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 90px;
  line-height: 90px;
  color: rgba(44, 44, 44, 0.05);
  pointer-events: none;
}


/* clients */

.clients {
    display: flex;
    margin-bottom: 60px;
}


.clients__logo {
width: 60%;
}

.clients__reviews {
width: 40%;
}

.clients__list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.clients__item {
    margin-right: 50px;
    margin-bottom: 40px;
}

.clients__btn {
    padding: 11px 45px;
}

.clients__love {
    margin-left: 40px;
    min-height: 47px;
    padding-top: 5px;
  display: inline-block;
  background: url(../img/heart.png) no-repeat left 20px top;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #464646;
}


/* reviews */


.reviews__header {
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}


.reviews__header__content {
    flex-grow: 1;
    padding-left: 20px;
}


.reviews__img {
    width: 100px;
    height: 100px;
   

}

.reviews__name {
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 22px;
color: #2C2C2C;
}


.reviews__firm {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 18px;
color: #2C2C2C;
}

.reviews__content {
    width: 481px;
}

.reviews__text {
    font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 27px;
/* or 180% */


color: #585858;
}



/* benefits */

.benefits {
    display: flex;
}

.benefits__way {
width: 50%;
}


.benefits__title {
margin-bottom: 12px;
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 21px;
line-height: 25px;
color: #2C2C2C;
}

.benefits__text {
width: 315px;
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 15px;
line-height: 21px;
/* or 140% */
color: #585858;
}

.benefits__item {
    margin-bottom: 35px;
}

.benefits__item:last-child {
    margin-bottom: 0;
}


.benefits__list {
    width: 100%;
    max-width: 370px;
    padding-left: 50px;
    position: relative;
    background-image: linear-gradient(to bottom, #fff 50%, #a5a5a5 50%);
    background-size: 2px 35px;
    background-repeat: repeat-y;
    background-position: left 12px top 27px;
}

.benefits__list:before,
.benefits__list:after {
    content: "";
    display: block;
    width: 26px;
    height: 36px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    z-index: 1;
    background-color: #fff;
}

.benefits__list:before {
    background-image: url(../img/benefits/pintop.png);
    top: 0;
}

.benefits__list:after {
    background-image: url(../img/benefits/pinbottom.png);
    bottom: 0;
}


/* TEAM */

.team {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}

.team__item {
    width: 33.33333%;
    padding: 0 22px;
    margin-bottom: 25px;
}

.team__link {
    margin-bottom: 9px;
    padding-left: 25px;
    text-decoration: none;
}

.team__link:last-child {
    margin-bottom: 0;
}

.team__link--mail {
  background: url(../img/team/phoneMail/mail.svg) no-repeat;
  width: 15px;
  height: auto;
}

.team__link--phone {
background: url(../img/team/phoneMail/call.svg) no-repeat;
width: 15px;
height: auto;
}

.team__photo {
    margin-bottom: 13px;
    box-shadow: 10px 5px 13px rgba(0, 0, 0, 0.25);
}

.team__title {
    margin-bottom: 5px;
  font-family: 'Lato';
  font-style: normal;
  font-weight: 900;
  font-size: 18px;
  line-height: 22px;
  color: #2C2C2C;

}

.team__text {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 19px;
  color: #585858;
}


.team__link {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #585858;
}

.team__link:hover {
    text-decoration: underline;
}

.team__list {
    margin-bottom: 5px;
}

.team__list:last-child {
    margin-bottom: 0;
}


/* MISSION */



.mission {
    margin-bottom: 30px;
padding: 60px 30px;
position: relative;
background: #FFFFFF;
box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.16);
border-radius: 5px;
text-align: center;
}

.mission:before,
.mission:after {
    content: "";
    display: block;
    width: 41.66666%;
    height: 2px;
    position: absolute;
    bottom: 0;
    z-index: 1;
    
}

.mission:before {
    background-color: #004AF2;
    right: 50%;
}

.mission:after {
    background-color: #FC2C2B;
    left: 50%;
}

.mission__title {
    margin-bottom: 7px;
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: capitalize;

color: #004AF2;
}

.mission__subtitle {
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 21px;
line-height: 25px;
text-align: center;
text-transform: capitalize;

color: #585858;
}


.mission__btn {
    padding: 11px 45px;
    cursor: pointer;
}

.btn__center {
    text-align: center;
}


.our__mission {
position: relative;
top: 32px;
text-align: center;
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 90px;
line-height: 108px;
text-transform: uppercase;

color: rgba(0, 0, 0, 0.05);
}



 /* NEWS */

/* Articles */
.articles {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 30px;
}

.articles--column {
    flex-direction: column;
}

.articles--column .articles__item {
    max-width: none;
    margin-bottom: 45px;
}

.articles__item {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
}

.articles__title {
    margin-bottom: 15px;

    font-size: 18px;
    font-weight: 700;
    color: #2C2C2C;
}

.articles__title a {
    color: inherit;
    text-decoration: none;
}

.articles__title a:hover {
    text-decoration: underline;
}

.articles__text {
    margin-bottom: 15px;

    font-size: 15px;
    color: #585858;
}

.articles__date {
    display: block;

    font-size: 12px;
    color: #6E6E6E;
}

.article__btn {
    padding: 11px 44px;
}


 /* footer */


 .footer {
     margin-top: auto;
     background-color: #f9f9f9;
     padding: 40px 0;
background-image: url(../img/footer/left.png),
                  url(../img/footer/right.png);
background-repeat: no-repeat;
background-position: left bottom, right bottom;
text-align: center;
 }

 .footer__logo {
     margin-bottom: 20px;
     text-align: center;
 }


 .address {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    
    text-align: center;
    
    color: #585858;
 }

 .footer__address {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    /* or 150% */
    
    text-align: center;
    
    color: #585858;
     text-decoration: none;
 }

 .footer__address:hover {
     text-decoration: underline;
 }

 .footer__nav {
margin-right: 15px;
text-decoration: none;
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 12px;
line-height: 18px;
/* or 150% */

text-align: center;

color: #004AF2;
 }

 .footer__nav:last-child {
     margin-right: 0;
 }

 .footer__nav:hover {
     text-decoration: underline;
 }



 .modal {
     display: flex;
     justify-content: center;
     flex-direction: column;
     align-items: center;
     position: fixed;
     width: 100%;
     height: 100%;
     background-color: rgba(0, 0, 0, .9);
     top: 0;
     left: 0;
     z-index: 2000;
 }

 .modal.show {
     display: flex;
 }


 .modal__inner {
     width: 400px;
     padding: 25px;
     background-color: #fff;
     position: relative;
 }

 .modal__header {
     margin-bottom: 25px;
     text-align: center;
 }

 .modal__title {
     margin-bottom: 10px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 27px;
    color: #004AF2;
 }


 .modal__text {
    font-family: 'PT Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 27px;
    
    
    color: #2C2C2C;
 }


 /* MODAL FORM */



 .modal__footer {
     border-top: 1px solid #e8e8e8;
     text-align: center;
 }

 .modal__link {
     text-decoration: none;
     color: #585858;
     font-style: normal;
 }
 
 .modal__link:hover {
     text-decoration: underline;
 }

 .modal__bottom {
     margin-bottom: 30px;
 }


 .modal__close {
     width: 20px;
     height: 20px;
     cursor: pointer;
     position: absolute;
     top: -20px;
     right: -30px;
     z-index: 1;
     background: none;
     border: 0;
     transition: transform .2s linear;
 }

 .modal__close:hover {
     transform: rotate(90deg);
 }

.modal__close img {
    display: block;
    
}

.modal__header img {
    margin-bottom: 10px;
}

 .footer__modal__title {
margin-top: 20px;
margin-bottom: 10px;
font-family: 'Lato';
font-style: normal;
font-weight: 900;
font-size: 18px;
line-height: 27px;
/* identical to box height, or 150% */

text-align: center;

color: #2C2C2C;
 }

 .footer__modal__address p {
     margin: 0;
     font-style: normal;
     color: #585858;
 }

.input__dark {
    border-bottom-color: #e8e8e8;
}

.input__dark::placeholder {
    color: #2C2C2C;
}

 .input__dark:focus {
    border-bottom-color: #000;
 }

 .input__dark.input--user {
     background-image: url(../img/modal/user__black.svg);
 }

 .input__dark.input--phone {
    background-image: url(../img/modal/phone__black.svg);
}

.input__dark.input--email {
    background-image: url(../img/modal/mail__black.svg);
}



/* main */



.main {
    display: flex;
}

.main__col {
    width: 50%;
}

.section__column {
    flex-direction: column;
}


.section__column 
.articles__item {
    margin-bottom: 45px;
    max-width: none;
   
}

.request__form--right {
    margin-left: auto;
}

/* TEXT */

.text {
    max-width: 890px;
font-family: 'PT Sans';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
color: #585858;

}


.text p {
    margin-bottom: 25px;
}


.text h3 {
    color: #000;
    margin-bottom: 20px;
}


.text ul {
    margin-bottom: 25px;
}


.text ol {
    margin-bottom: 50px;
    list-style: decimal;
    list-style-position: inside;
}


.modal__btn__last {
    padding: 11px 44px;
}