@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&family=Work+Sans&family=Yellowtail&display=swap');



body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #585858;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.img {
    display: block;
    max-width: 100%; 
    height: auto;
}

.container {
    padding: 0 15px;
    max-width: 1230px;  
    width: 100%;
    margin: 0 auto;
}




// header

.header {
    padding: 15px 48px;
    min-height: 80px;
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(1, 58, 76, 0.2);
    border-radius: 0px;
    

    .header__block {
     display: flex;
     justify-content: space-between;
     align-items: center;
    }
    .header__logo {
        display: block;
        max-width: 100%;
        height: auto;
    }

    .nav {
     display: flex;
    }
     
    .nav__link {
        text-decoration:  none;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */


        color: #013A4C;
    }

    .nav__link:nth-child(1) {
        margin-right: 45px;
    }
    .nav__link:nth-child(2) {
        margin-right: 62px;
    }
    .nav__link:nth-child(3) {
        margin-right: 32px;
    }
    .nav__link:nth-child(4) {
        margin-right: 32px;
    }
    .nav__link:nth-child(5) {
        margin-right: 48px;
    }

   
    .header__link {
      display: flex;
      align-items: center;
    }



    .header__inner__link {
        padding: 11px 17px ;
        text-decoration: none;
        margin-right: 8px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 18px;
        /* identical to box height, or 129% */

        text-align: center;
        background: #FFD063;
        border: 1px solid #FFD063;
        border-radius: 4px;
        color: #013A4C;

    }

    .header__inner__link:nth-child(3) {
        background: #fff;
        border: 1px solid #346170;
    }

    

    

    .header__inner__link:last-child {
        margin-right: 0;
    }

    .header__icon {
        margin-left: 48px;
    }



    

}

// intro

.intro {
    min-height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
}





// companies


.companies {
    padding: 80px 0;
    background-color: #013A4C;

    .companies__block {
        
    }
    .companies__join {

    }
    .companies__join__title {
        margin-bottom: 24px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 25px;
        line-height: 38px;
        /* identical to box height, or 152% */

        text-align: center;
        letter-spacing: 0.7px;

        color: #FFFFFF;
    }
    .companies__join__list {
        padding: 0 0 80px 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }




    .companies__join__list__item {
        margin-right: 32px;
    }

// smart

    .smart {
      

         .smart__block__item {
             max-width: 100%;
             display: flex;
            justify-content: space-between;
         }
        .smart__block {
            max-width: 624px;
            width: 50%;
        }
        .smart__title {
            margin-bottom: 38px;
            max-width: 402px;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 72px;
            line-height: 72px;
            /* or 100% */

            letter-spacing: 0.4px;

            color: #F2DCE4;
        }
        .smart__text {
            margin-bottom: 40px;
            max-width: 528px;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 21px;
            line-height: 28px;
            /* or 133% */


            color: #FFFFFF;
        }
        .smart__link {
            padding: 16px 21px;
            text-decoration: none;
            font-family: 'Work Sans';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 20px;
            /* identical to box height, or 125% */
            background-color: #FFD063;
            text-align: center;
             border-radius: 4px;
            color: #013A4C;

        }

        .per__cent {
            display: block;
            width: 100%;
          background-repeat: no-repeat;
          background-position: bottom;
          background-size: cover;
          max-width: 500px;
          min-height: 500px;
            
        }
    }



}


.collaborate {
margin: 120px auto;
background-color: #D3E8F4;
max-width: 1200px;
min-height: 600px;
border-radius: 8px;

.collaborate__header {
    margin-bottom: 38px;
    padding: 32px 96px;
    border-bottom: 1px solid #94B4C2;
}

.collaborate__list {
  display: flex;
  justify-content: center;
}
.collaborate__list__item {
  margin-right: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.collaborate__list__item.active::after {
    content: "";
    display: block;
    height: 2px;
    width: 100%;
    background-color: #013A4C;
    position: relative;
    top: 30px;
    right: 50px;
}
.collaborate__list__item:last-child {
    margin-right: 0;
}
.collaborate__text__icon {
    margin-top: 7px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* identical to box height, or 133% */

    text-align: center;

    color: #013A4C;

}

.collaborate__inner__block {
    display: flex;
    justify-content: end;
   
}
.collaborate__left__block {
    width: 55%;
}

.collaborate__title {
    margin-bottom: 11px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 55px;
    line-height: 80px;
    /* identical to box height, or 145% */

    
    letter-spacing: 0.7px;

    color: #013A4C;
}
.collaborate__text {
    margin-bottom: 55px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    /* or 133% */


    color: #013A4C;
}
.collaborate__left__item {
    margin-bottom: 44px;
}

.collaborate__left__list__item {
    margin-bottom: 8px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    
    
    color: #013A4C;
}
.collaborate__left__list__item:last-child {
    margin-bottom: 0;
}
.collaborate__left__list__item::before {
    content: "";
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: url(img/collaborate/galka.svg) no-repeat #346170 center;
}
.collaborate__link {
padding: 11px 17px;
text-decoration: none;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
border-radius: 4px;
border: 1px solid #346170;
text-align: center;

color: #013A4C;
}

}


.video__block {
    min-height: 814px;
    .video {
        max-width: 100%;
        width: 100%;
        min-height: 814px;
    }
}




// platform


.platform {
    max-width: 100%;
    padding-top: 120px;
    min-height: 2432px;
    background-size: cover;
    background-position: bottom;
    .block__title {
        display: flex;
        justify-content: center;
    }
.platform__title {
    margin-bottom: 140px;
    max-width: 830px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 80px;
    /* or 100% */
    text-align: center;
    letter-spacing: 0.7px;
    color: #013A4C;
}
.platform__block {
    min-height: 380px;
    display: flex;
    justify-content: end;
}
.platform__block2 {
    min-height: 397px;
    display: flex;
    }
.platform__block3 {
    min-height: 380px;
    display: flex;
    justify-content: end;
    }
    .platform__item {
        flex-basis: 624px;
    }
    .platform__item2 {
        flex-basis: 624px;
    }
    .platform__item3 {
        flex-basis: 576px;
    }


.background {
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #013A4C;
    width: 109px;
    height: 109px;
    border-radius: 50%;
}
.platform__inner__title {
    margin-bottom: 34px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    /* identical to box height, or 112% */
    
    letter-spacing: 0.4px;
    
    color: #013A4C;
}
.platform__text1 {
    max-width: 480px;
    margin-bottom: 25px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    color: #013A4C;
}
.platform__text2 {
    max-width: 480px;
    margin-bottom: 25px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    color: #013A4C;
}
 .platform__thirty {
    max-width: 550px;
    margin-bottom: 25px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    /* or 133% */


    color: #013A4C;
}

.platform__link {
    padding: 11px 17px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    border-radius: 4px;
    background-color: #013A4C;
    color: #FFFFFF;
    text-decoration: none;
}



}





.eyes {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 100%;
    min-height: 850px;
    background-repeat: no-repeat;
    background-size: cover;
   .eyes__title {
    margin-bottom: 31px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 73px;
    line-height: 78px;
    /* identical to box height, or 107% */
    
    letter-spacing: 2px;
    
    color: #F2DCE4;
   }
   .eyes__text {
    max-width: 470px;
    margin-bottom: 25px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 26px;
    line-height: 32px;
    /* or 123% */
    
    letter-spacing: 0.5px;
    
    color: #FFFFFF;
   }
   .eyes__link {
       padding: 11px 17px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    border-radius: 4px;
    text-align: center;
    background-color: #FFD063;
    color: #013A4C;
    text-decoration: none;
   }
}




.word {
    margin: 110px 0;
    
    .word__title {
        margin-bottom: 56px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 48px;
        line-height: 54px;
        /* identical to box height, or 112% */
        letter-spacing: 0.4px;
        color: #013A4C;
        
    }
    .word__block {
     max-width: 100%;
     display: flex;
     flex-wrap: wrap;
     margin: -8px;
    }
    .word__item {
    flex-basis: 375px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 444px;
    margin: 8px;
    padding: 65px 33px 33px;
    width: 33.33333%;
    border: 1px solid #D6DFE2;
    border-radius: 8px;
    }
    .word__item:last-child {
     margin-right: 0;
    }
    .word__text {
        max-width: 300px;
        margin-bottom: 18px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
        /* or 133% */
        color: #013A4C;
    }
    .word__under__text {
    margin-bottom: 90px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */


    color: #89285B;
    }
    .photo__block {
     display: flex;
     align-items: center;
    }
    .person__img {
        margin-right: 16px;
        display: block;
        max-width: 100%;
        height: auto;
    }
    .word__info__block {

    }
    .word__info {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */
    color: #013A4C;
    }


}



.seamless {
margin: 120px 0 60px;
.seamless__block {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 100%;
}
.seamless__inner__block {

}
.seamless__title {
    margin-bottom: 30px;
    max-width: 387px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 72px;
    line-height: 72px;
    /* or 100% */
    
    letter-spacing: 0.4px;
    
    color: #013A4C;
}
.seamless__text {
    max-width: 400px;
    margin-bottom: 30px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 21px;
    line-height: 28px;
    /* or 133% */
    
    
    color: #013A4C;
}
.seamless__link {
    padding: 15px 21px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    /* identical to box height, or 133% */
    background-color: #FFD063;
    text-align: center;
    text-decoration: none;
    border-radius: 4px;
    color: #013A4C;
    
    
}
.seamless__icon__item {
display: flex;
flex-wrap: wrap;
justify-content: center;
max-width: 564px;
}
.seamless__inner__item {

}

.left__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.right__block {
    display: flex;
    flex-direction: column;
    justify-content: center;
}


}



.trick {
margin: 50px 0;

.trick__block__title {
margin-bottom: 48px;
display: flex;
justify-content: space-between;
align-items: center;
}
.trick__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 54px;
    /* identical to box height, or 112% */
    
    letter-spacing: 0.4px;
    
    color: #013A4C;
}
.trick__link__title {
    padding: 15px 21px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    text-decoration: none;
    text-align: center;
    border-radius: 4px;
    background-color: #FFD063;
    color: #013A4C;
}

.trick__header__block {
    margin-bottom: 24px;
    max-width: 100%;
    min-height: 447px;
    display: flex;
    align-items: center;
    background-color: #F2DCE4;
    border-radius: 8px;
}
.trick__inner__header {
width: 50%;
padding: 30px 0 0 32px;
}
.trick__article {
    padding: 4px 8px 6px 8px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    border-radius: 2px;
    /* identical to box height, or 100% */
    text-decoration: none;
    background-color: #B73D8B;
    color: #F2DCE4;
}
.trick__inner__title {
    padding: 65px 0;
    max-width: 405px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 54px;
    /* or 112% */
    
    letter-spacing: 0.4px;
    
    color: #013A4C;
}
.trick__signature {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 145% */
    color: #013A4C;
}

.trick__read {
    margin-left: 8px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    /* identical to box height, or 160% */
    color: #013A4C;
    vertical-align: text-top;
}
.trick__mobile__photo {
display: block;
width: 50%;
max-width: 100%;
}
.mobile__img {
    display: block;
    max-width: 100%;
    height: auto;
}
.down__card__block {
margin: 0 -12px;
display: flex;
max-width: 100%;
}
.down__item {
    max-width: 368px;
    width: 100%;
width: 33.33333%;
min-height: 444px;
margin: 0 12px;
max-width: 100%;
background-color: #013A4C;
border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
.down__item2 {
    max-width: 368px;
    width: 100%;
margin: 0 12px;
display: flex;
align-items: center;
flex-direction: column;
justify-content: space-between;
width: 33.33333%;
min-height: 444px;
padding-top: 24px;
border-radius: 8px;
background-color: #0F5987;
}
.down__item3 {
    max-width: 368px;
    width: 100%;
    margin: 0 12px;
    width: 33.33333%;
    background-color: #F2DCE4;
    border-bottom-left-radius: 8px;
border-bottom-right-radius: 8px;
}
.down__item3:last-child {
    margin-right: 0;
}

.down__img {
    display: block;
    max-width: 100%;
    width: 100%;
    height: auto;
}
.inner__card__content {
padding: 24px 0 0 24px;
}
.down__link {
    display: inline-block;
    margin-bottom: 18px;
    padding:  4px 8px 6px 8px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    /* identical to box height, or 100% */
    background-color: #F2DCE4;
    color: #013A4C;
    border-radius: 2px;
    text-decoration: none;
    
}
.down__text {
    margin-bottom: 70px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    /* or 133% */
    letter-spacing: 0.4px;
    color: #FFFFFF;
    
}
.down__signature {
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 16px;
    /* identical to box height, or 145% */
    color: #FFFFFF;
}
.read__signature {
    margin-left: 8px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;
    vertical-align: text-top;
    /* identical to box height, or 160% */
    color: #FFFFFF;
}
.sweco__link {
    padding: 4px 8px 6px 8px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 11px;
    /* identical to box height, or 100% */
    text-align: center;
    background-color: #187BB7;
    border-radius: 2px;
    color: #FFFFFF;
    text-decoration: none;
    
}
.sweco__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;

    
    color: #FFFFFF;
}
.sweco__link__story {
    padding: 11px 17px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    /* identical to box height, or 129% */
    border: 1px solid #fff;
    text-align: center;
    border-radius: 4px;
    text-decoration: none;
    color: #FFFFFF;
    
}

.master__link {
    display: inline-block;
padding: 4px 8px 6px 8px;
 margin-bottom: 24px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 11px;
/* identical to box height, or 100% */
text-decoration: none;
background-color: #B73D8B;
border-radius: 2px;
color: #F2DCE4;
}
.master__text {
    margin-bottom: 29px;
   max-width: 296px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 32px;
/* or 139% */

letter-spacing: 0.4px;

color: #013A4C;
}
.master__signature {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* identical to box height, or 160% */


color: #013A4C;
}
.master__read {
    font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 10px;
line-height: 16px;
/* identical to box height, or 160% */

vertical-align: text-top;
color: #013A4C;
}

}



.oneflow {
    margin: 120px 0;

    .oneflow__title {
        margin-bottom: 48px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 54px;
        /* identical to box height, or 112% */

        letter-spacing: 0.4px;

        color: #013A4C;
    }
    .oneflow__block {
      display: flex;
    }
    .oneflow__item {
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 50%;
       text-align: center;
    }
    .oneflow__img {
        margin-bottom: 18px;
        display: block;
        max-width: 100%;
        height: auto;
    }
    .one__platform {
     margin-bottom: 19px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */

    text-align: center;

    color: #013A4C;

    }
    .oneflow__create {
        max-width: 479px;
        margin-bottom: 30px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 31px;
        line-height: 40px;
        /* or 129% */

        text-align: center;
        letter-spacing: 0.4px;

        color: #013A4C;
    }
    .oneflow__link {
        padding: 14px 21px 16px 21px;
        font-family: 'Work Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        /* identical to box height, or 125% */
          background-color: #FFD063;
        text-align: center;
        border-radius: 4px;
        text-decoration: none;
        color: #013A4C;

    }
}



.footer {
padding: 64px 0;
min-height: 295px;
background-color: #013A4C;
.footer__up__block {
display: flex;
justify-content: space-between;
}
.footer__logo {
display: flex;
flex-direction: column;
align-items: flex-start;
}
.footer__logo__img {
margin-bottom: 65px;
display: block;
max-width: 100%;
height: auto;
}
.footer__under__logo {
    margin-bottom: 5px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 20px;
/* identical to box height, or 143% */


color: #FFFFFF;

text-decoration: none;
}
.footer__right__block {
    display: flex;
    margin: 0 -50px;
}
.footer__right__inner__block {
    margin: 0 50px;
    width: 25%;

}
.white__word {
    margin-bottom: 13px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    /* identical to box height, or 125% */
    
    
    color: #FFFFFF;
    
}
.footer__right__text {
margin-bottom: 13px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 20px;
/* identical to box height, or 125% */


color: #99B0B7;
}

.footer__middle__block {
    padding: 48px 0;
    min-height: 209px;
    border-top: 1px solid #346170;
    border-bottom: 1px solid #346170;
}
.middle__title {
margin-bottom: 11px;
font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 23px;
line-height: 32px;
/* identical to box height, or 139% */

letter-spacing: 0.4px;

color: #FFFFFF;


}
.middle__text {
    max-width: 367px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    /* or 143% */
    
    
    color: #FFFFFF;
}
.middle__link {
    margin-left: 48px;
    padding: 11px 17px;
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 18px;
/* identical to box height, or 129% */
background-color: #FFD063;
text-align: center;
border-radius: 2px;
text-decoration: none;
color: #013A4C;
}
.middle__block {
    display: flex;
}
.footer__down {
    padding: 17px 17px 0  0;
}
.down__block {
display: inline-flex;
position: relative;
gap: 30px;
}
.down__item {
font-family: 'Work Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 18px;
/* identical to box height, or 138% */


color: #99B0B7;
}


.vector::after {
    content: "";
    position: absolute;
    top: 0;
    right: -35px;
    display: block;
    width: 20px;
    height: 20px;
    background: url(img/footer/Vector.png) no-repeat;
    background-position: center right;
}

}