@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Roboto:wght@400;700&family=Yellowtail&display=swap');



body {
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: #585858;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

h1,h2,h3,h4,h5,h6 {
    margin: 0;
}

p {
    margin: 0 0 10px;
}

.img {
    display: block;
    max-width: 100%;  
    height: auto;
}

.container {
    padding: 0 25px;
    max-width: 1440px;  
    width: 100%;
    margin: 0 auto;
}








.header {
    padding: 40px 0;
    .inner__header {
        max-width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .header__logo {
        display: block;
        max-width: 100%;
        height: auto;
    }
    .header__block__link {
        display: flex;
    }

    .header__block__list {
     margin-right: 40px;
    }
    .header__link {
        text-decoration: none;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 20px;
        line-height: 32px;
        /* identical to box height, or 160% */

        letter-spacing: 0.36px;

        color: #274C5B;
      }

      .header__link:last-child {
          margin-right: 0;
      }
      .header__link.active {
          color: #7EB693;
      }
    .cart__block {
        display: flex;
        align-items: center;
        border: 1px solid #D4D4D4;
        border-radius: 44px;
        padding: 7px 30px 7px 11px;
        .background__cart {
            margin-right: 10px;
            width: 56px;
            height: 56px;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #274C5B;
            border-radius: 50%;
        }
        .cart__img {
            display: block;
            max-width: 100%;
            height: auto;
        }
        .cart__text {
         margin-right: 5px;
         font-family: 'Roboto';
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        line-height: 29px;
        /* identical to box height, or 169% */

        letter-spacing: 0.36px;

        color: #274C5B;
        }
        .cart__zero {
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 18px;
            line-height: 18px;
            /* identical to box height, or 100% */
            
            text-align: center;
            letter-spacing: 0.36px;
            
            color: #274C5B;
        }
    }
}


.intro {
    min-height: 913px;
    background-size: cover;
    background-repeat: no-repeat;
.intro__inner {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 50px;
    transform: translate(10px, 60%);
}

    .intro__subtitle {
        font-family: 'Yellowtail';
        font-style: normal;
        font-weight: 400;
        font-size: 36px;
        line-height: 65px;
        /* identical to box height, or 180% */

        letter-spacing: 0.36px;
        text-transform: capitalize;
        color: #7EB693;
    }
    .intro__title {
        margin-bottom: 30px;
        max-width: 500px;
        font-family: 'Roboto';
        font-style: normal;
        font-weight: 700;
        font-size: 70px;
        line-height: 84px;
        /* identical to box height, or 120% */
        letter-spacing: 0.36px;
        color: #274C5B;


    }
    .explore__btn {
        max-width: 216px;
        padding: 25px 9px 25px 33px;
        display: flex;
        align-items: center;
        background-color: #EFD372;
        border-radius: 16px;
        .explore__btn__link {
            margin-right: 25px;
            text-decoration: none;
            font-family: 'Roboto';
            font-style: normal;
            font-weight: 400;
            font-size: 19px;
            line-height: 32px;
            /* identical to box height, or 168% */
            background-color: #EFD372;
            letter-spacing: 0.36px;
            text-transform: capitalize;

color: #274C5B;

        }
        .explore__img__background {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 38px;
            height: 34px;
            border-radius: 50%;
            background-color: #335B6B;
        }
        .explore__img {
         display: block;
         max-width: 100%;
         height: auto;
        }
    }
}


.twocard {
    margin: 140px 0;
.twocard__block {
    display: flex;
    
}
.twocard__item {
    display: block;
    width: 50%;
    min-height: 378px;
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
}

.twocard__text {
    transform: translate(20%, 50%);
    bottom: 50%;
    position: absolute;
}
.twocard__subtitle {
    font-family: 'Yellowtail';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 65px;
    /* identical to box height, or 180% */
    
    letter-spacing: 0.36px;
    
    color: #FFFFFF;
}
.twocard__title {
    max-width: 260px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    /* identical to box height, or 130% */
    
    letter-spacing: 0.36px;
    
    color: #FFFFFF;
}

}